body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(28, 1, 94);
}

h1 {
    font-size: 6em;
    font-family: 'Montserrat', sans-serif;
}

.letter{
    transition: color 1000ms;
}